/* --- Variables --- */
:root{
    --theme:pink;
    --zero:0px;
    --font:normal;
    --line:2em;
    --font-size:0.9em;
    --color:rgb(167, 36, 36);
    
}
/* --- Main styles --- */

h1, h2, h3{
    font-weight: var(--normal);
}

body{
    margin: 0;
    font-family: Verdana;
}

nav.main-nav ul{
    width: 600px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: var(--zero);
    text-align: center;
}

nav a{
    color: var(--color);
}

.banner{
    background: var(--theme);
    color: var(--color);
    font-size: 1.6em;
    text-align: center;
    padding: 100px 0 160px;
}

.content{
    width: 760px;
    margin: var(--zero) auto;
    position: relative;
    top: -100px;
    padding: 40px 60px;
    background: var(--color)
}

.spot{
    margin: var(--zero) 40px 80px;
    text-align: center;
}

.spot h2{
    color: var(--theme);
}

.spot p{
    color: #333;
    line-height:var(--line);
    font-size: var(--font-size);
}

.content a{
    color: #daa33e;
    font-size: 1.2em;
}

footer{
    background: #ddd;
    padding: 60px var(--zero);
}

footer .blurbs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 760px;
    margin: var(--zero) auto;
    grid-gap: 40px;
}

footer .blurb{
    text-align: center;
    color: #333;
    line-height: var(--line);
    font-size: var(--font-size)
}
